@import "checkbox";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

@mixin clear-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.app-title {
  text-align: center;
  margin-bottom: 1rem;
}

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.theme-button {
  display: flex;
  justify-content: center;

  a {
    color: #36a8f1;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: normal;
  }
}

.chart-wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding-top: 2rem;
  margin-bottom: 1rem;
}

body.tg-chart-preload .tg-chart-checkbox  {
  & span, & span:before {
    animation-duration: 0s !important;
    transition: border 0s !important;
  }
}

body {
  transition: background .22s ease-in-out;
}

body.tg-night {
  background: #242f3e;

  .app-title {
    color: #fff;
  }
}

.tg-chart {
  position: relative;

  > canvas {
    z-index: 2;
  }

  .tg-chart-slider {
    position: relative;
    margin-bottom: 1rem;
    z-index: 1;

    &__right, &__left {
      transition: background .22s ease-in-out;
      background: #f5f9fb;
      opacity: .8;
      position: absolute;
      top: 0;
      bottom: 0;
    }

    &__left {
      left: 0;
    }

    &__right {
      right: 0;
    }

    &__arrow--left, &__arrow--right {
      position: absolute;
      top: 0;
      bottom: 0;
      transition: background .22s ease-in-out;
      background: #ddeaf3;
      width: 4px;
    }

    &__arrow--left {
      right: 0;
      cursor: w-resize;
    }

    &__arrow--right {
      left: 0;
      cursor: e-resize;
    }

    &__window {
      position: absolute;
      background: transparent;
      top: 0;
      bottom: 0;
    }
  }

  .tg-chart-tooltip {
    position: absolute;
    display: none;
    max-width: 200px;
    min-width: 120px;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #dfe6eb;
    box-shadow: 1px 1px 1px rgba(0,0,0,.05);
    background: #fff;
    color: #000;
    overflow: hidden;
    z-index: 3;

    top: 50px;
    left: 100px;

    .tooltip-title {
      text-align: center;
      margin-bottom: .5rem;
      white-space: nowrap;
    }

    .tooltip-list {
      display: flex;
      flex-wrap: wrap;
      @include clear-list;
    }

    .tooltip-list-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-grow: 1;

      .name {
        font-size: .8rem;
      }

      .value {
        font-size: 1rem;
        font-weight: bold;
      }
    }
  }
}

